absl-py==0.7.1
astor==0.7.1
attrs==19.1.0
blis==0.2.4
certifi==2019.3.9
chardet==3.0.4
cycler==0.10.0
cymem==2.0.2
Django==2.0.13
gast==0.2.2
grpcio==1.20.1
h5py==2.9.0
idna==2.8
jsonschema==3.0.1
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.1.0
Markdown==3.1
matplotlib==3.0.3
mock==3.0.5
murmurhash==1.0.2
nltk==3.4.1
numpy==1.16.3
pandas==0.24.2
plac==0.9.6
preshed==2.0.1
protobuf==3.7.1
pyparsing==2.4.0
pyrsistent==0.15.2
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1
requests==2.21.0
scipy==1.2.1
six==1.12.0
spacy==2.1.4
spicy==0.16.0
srsly==0.0.5
stanfordnlp==0.1.2
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
Theano==1.0.4
thinc==7.0.4
torch==1.0.1
tqdm==4.32.1
urllib3==1.24.3
wasabi==0.2.2
Werkzeug==0.15.4
